 <!--
    * Dynamic Content Enable code for Profile: 10030434
    *
    * The following code initializes the following dynamic variables for
        * development testing and live serving of Fields associated to the above profile
-->

    <!-- DynamicContent Start: HTML5 invocation code. -->
    <script type="text/javascript">

// Dynamic Content variables and sample values
        Enabler.setProfileId(10030343);
    var devDynamicContent = {};

    devDynamicContent.productsupdoubleclickpro75k= [{},{},{},{},{},{}];
    devDynamicContent.productsupdoubleclickpro75k[0]._id = 0;
    devDynamicContent.productsupdoubleclickpro75k[0].id = "100047-A";
    devDynamicContent.productsupdoubleclickpro75k[0].custom_label_0 = "Yes";
    devDynamicContent.productsupdoubleclickpro75k[0].custom_label_1 = "leer";
    devDynamicContent.productsupdoubleclickpro75k[0].custom_label_2 = "true";
    devDynamicContent.productsupdoubleclickpro75k[0].description = "Die Expansion STEA1000400 - Festplatte der Firma Seagate bietet den Nu";
    devDynamicContent.productsupdoubleclickpro75k[0].image_link = {};
    devDynamicContent.productsupdoubleclickpro75k[0].image_link.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.400x400.jpg";
    devDynamicContent.productsupdoubleclickpro75k[0].link = {};
    devDynamicContent.productsupdoubleclickpro75k[0].link.Url = "https://siroop.ch/computer-elektronik/speicher-laufwerke/externe-festplatte/seagate-expansion-stea1000400-festplatte-1-tb-usb-30-69438";
    devDynamicContent.productsupdoubleclickpro75k[0].price = 51.35;
    devDynamicContent.productsupdoubleclickpro75k[0].sensitive_category_filter = "siroop trading AG";
    devDynamicContent.productsupdoubleclickpro75k[0].title = "Seagate Expansion STEA1000400 - Festplatte 1 TB USB 3.0";
    devDynamicContent.productsupdoubleclickpro75k[0].lowest_price = ["1"];
    devDynamicContent.productsupdoubleclickpro75k[0].image_link_200 = {};
    devDynamicContent.productsupdoubleclickpro75k[0].image_link_200.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.200x200.jpg";
    devDynamicContent.productsupdoubleclickpro75k[0].image_link_100 = {};
    devDynamicContent.productsupdoubleclickpro75k[0].image_link_100.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.100x100.jpg";
    devDynamicContent.productsupdoubleclickpro75k[1]._id = 1;
    devDynamicContent.productsupdoubleclickpro75k[1].id = "100047-A";
    devDynamicContent.productsupdoubleclickpro75k[1].custom_label_0 = "Yes";
    devDynamicContent.productsupdoubleclickpro75k[1].custom_label_1 = "leer";
    devDynamicContent.productsupdoubleclickpro75k[1].custom_label_2 = "true";
    devDynamicContent.productsupdoubleclickpro75k[1].description = "Die Expansion STEA1000400 - Festplatte der Firma Seagate bietet den Nu";
    devDynamicContent.productsupdoubleclickpro75k[1].image_link = {};
    devDynamicContent.productsupdoubleclickpro75k[1].image_link.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.400x400.jpg";
    devDynamicContent.productsupdoubleclickpro75k[1].link = {};
    devDynamicContent.productsupdoubleclickpro75k[1].link.Url = "https://siroop.ch/computer-elektronik/speicher-laufwerke/externe-festplatte/seagate-expansion-stea1000400-festplatte-1-tb-usb-30-69438";
    devDynamicContent.productsupdoubleclickpro75k[1].price = 51.35;
    devDynamicContent.productsupdoubleclickpro75k[1].sensitive_category_filter = "siroop trading AG";
    devDynamicContent.productsupdoubleclickpro75k[1].title = "Seagate Expansion STEA1000400 - Festplatte 1 TB USB 3.0";
    devDynamicContent.productsupdoubleclickpro75k[1].lowest_price = ["1"];
    devDynamicContent.productsupdoubleclickpro75k[1].image_link_200 = {};
    devDynamicContent.productsupdoubleclickpro75k[1].image_link_200.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.200x200.jpg";
    devDynamicContent.productsupdoubleclickpro75k[1].image_link_100 = {};
    devDynamicContent.productsupdoubleclickpro75k[1].image_link_100.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.100x100.jpg";
    devDynamicContent.productsupdoubleclickpro75k[2]._id = 2;
    devDynamicContent.productsupdoubleclickpro75k[2].id = "100047-A";
    devDynamicContent.productsupdoubleclickpro75k[2].custom_label_0 = "Yes";
    devDynamicContent.productsupdoubleclickpro75k[2].custom_label_1 = "leer";
    devDynamicContent.productsupdoubleclickpro75k[2].custom_label_2 = "true";
    devDynamicContent.productsupdoubleclickpro75k[2].description = "Die Expansion STEA1000400 - Festplatte der Firma Seagate bietet den Nu";
    devDynamicContent.productsupdoubleclickpro75k[2].image_link = {};
    devDynamicContent.productsupdoubleclickpro75k[2].image_link.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.400x400.jpg";
    devDynamicContent.productsupdoubleclickpro75k[2].link = {};
    devDynamicContent.productsupdoubleclickpro75k[2].link.Url = "https://siroop.ch/computer-elektronik/speicher-laufwerke/externe-festplatte/seagate-expansion-stea1000400-festplatte-1-tb-usb-30-69438";
    devDynamicContent.productsupdoubleclickpro75k[2].price = 51.35;
    devDynamicContent.productsupdoubleclickpro75k[2].sensitive_category_filter = "siroop trading AG";
    devDynamicContent.productsupdoubleclickpro75k[2].title = "Seagate Expansion STEA1000400 - Festplatte 1 TB USB 3.0";
    devDynamicContent.productsupdoubleclickpro75k[2].lowest_price = ["1"];
    devDynamicContent.productsupdoubleclickpro75k[2].image_link_200 = {};
    devDynamicContent.productsupdoubleclickpro75k[2].image_link_200.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.200x200.jpg";
    devDynamicContent.productsupdoubleclickpro75k[2].image_link_100 = {};
    devDynamicContent.productsupdoubleclickpro75k[2].image_link_100.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.100x100.jpg";
    devDynamicContent.productsupdoubleclickpro75k[3]._id = 3;
    devDynamicContent.productsupdoubleclickpro75k[3].id = "100047-A";
    devDynamicContent.productsupdoubleclickpro75k[3].custom_label_0 = "Yes";
    devDynamicContent.productsupdoubleclickpro75k[3].custom_label_1 = "leer";
    devDynamicContent.productsupdoubleclickpro75k[3].custom_label_2 = "true";
    devDynamicContent.productsupdoubleclickpro75k[3].description = "Die Expansion STEA1000400 - Festplatte der Firma Seagate bietet den Nu";
    devDynamicContent.productsupdoubleclickpro75k[3].image_link = {};
    devDynamicContent.productsupdoubleclickpro75k[3].image_link.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.400x400.jpg";
    devDynamicContent.productsupdoubleclickpro75k[3].link = {};
    devDynamicContent.productsupdoubleclickpro75k[3].link.Url = "https://siroop.ch/computer-elektronik/speicher-laufwerke/externe-festplatte/seagate-expansion-stea1000400-festplatte-1-tb-usb-30-69438";
    devDynamicContent.productsupdoubleclickpro75k[3].price = 51.35;
    devDynamicContent.productsupdoubleclickpro75k[3].sensitive_category_filter = "siroop trading AG";
    devDynamicContent.productsupdoubleclickpro75k[3].title = "Seagate Expansion STEA1000400 - Festplatte 1 TB USB 3.0";
    devDynamicContent.productsupdoubleclickpro75k[3].lowest_price = ["1"];
    devDynamicContent.productsupdoubleclickpro75k[3].image_link_200 = {};
    devDynamicContent.productsupdoubleclickpro75k[3].image_link_200.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.200x200.jpg";
    devDynamicContent.productsupdoubleclickpro75k[3].image_link_100 = {};
    devDynamicContent.productsupdoubleclickpro75k[3].image_link_100.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.100x100.jpg";
    devDynamicContent.productsupdoubleclickpro75k[4]._id = 4;
    devDynamicContent.productsupdoubleclickpro75k[4].id = "100047-A";
    devDynamicContent.productsupdoubleclickpro75k[4].custom_label_0 = "Yes";
    devDynamicContent.productsupdoubleclickpro75k[4].custom_label_1 = "leer";
    devDynamicContent.productsupdoubleclickpro75k[4].custom_label_2 = "true";
    devDynamicContent.productsupdoubleclickpro75k[4].description = "Die Expansion STEA1000400 - Festplatte der Firma Seagate bietet den Nu";
    devDynamicContent.productsupdoubleclickpro75k[4].image_link = {};
    devDynamicContent.productsupdoubleclickpro75k[4].image_link.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.400x400.jpg";
    devDynamicContent.productsupdoubleclickpro75k[4].link = {};
    devDynamicContent.productsupdoubleclickpro75k[4].link.Url = "https://siroop.ch/computer-elektronik/speicher-laufwerke/externe-festplatte/seagate-expansion-stea1000400-festplatte-1-tb-usb-30-69438";
    devDynamicContent.productsupdoubleclickpro75k[4].price = 51.35;
    devDynamicContent.productsupdoubleclickpro75k[4].sensitive_category_filter = "siroop trading AG";
    devDynamicContent.productsupdoubleclickpro75k[4].title = "Seagate Expansion STEA1000400 - Festplatte 1 TB USB 3.0";
    devDynamicContent.productsupdoubleclickpro75k[4].lowest_price = ["1"];
    devDynamicContent.productsupdoubleclickpro75k[4].image_link_200 = {};
    devDynamicContent.productsupdoubleclickpro75k[4].image_link_200.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.200x200.jpg";
    devDynamicContent.productsupdoubleclickpro75k[4].image_link_100 = {};
    devDynamicContent.productsupdoubleclickpro75k[4].image_link_100.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.100x100.jpg";
    devDynamicContent.productsupdoubleclickpro75k[5]._id = 5;
    devDynamicContent.productsupdoubleclickpro75k[5].id = "100047-A";
    devDynamicContent.productsupdoubleclickpro75k[5].custom_label_0 = "Yes";
    devDynamicContent.productsupdoubleclickpro75k[5].custom_label_1 = "leer";
    devDynamicContent.productsupdoubleclickpro75k[5].custom_label_2 = "true";
    devDynamicContent.productsupdoubleclickpro75k[5].description = "Die Expansion STEA1000400 - Festplatte der Firma Seagate bietet den Nu";
    devDynamicContent.productsupdoubleclickpro75k[5].image_link = {};
    devDynamicContent.productsupdoubleclickpro75k[5].image_link.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.400x400.jpg";
    devDynamicContent.productsupdoubleclickpro75k[5].link = {};
    devDynamicContent.productsupdoubleclickpro75k[5].link.Url = "https://siroop.ch/computer-elektronik/speicher-laufwerke/externe-festplatte/seagate-expansion-stea1000400-festplatte-1-tb-usb-30-69438";
    devDynamicContent.productsupdoubleclickpro75k[5].price = 51.35;
    devDynamicContent.productsupdoubleclickpro75k[5].sensitive_category_filter = "siroop trading AG";
    devDynamicContent.productsupdoubleclickpro75k[5].title = "Seagate Expansion STEA1000400 - Festplatte 1 TB USB 3.0";
    devDynamicContent.productsupdoubleclickpro75k[5].lowest_price = ["1"];
    devDynamicContent.productsupdoubleclickpro75k[5].image_link_200 = {};
    devDynamicContent.productsupdoubleclickpro75k[5].image_link_200.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.200x200.jpg";
    devDynamicContent.productsupdoubleclickpro75k[5].image_link_100 = {};
    devDynamicContent.productsupdoubleclickpro75k[5].image_link_100.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.100x100.jpg";
    devDynamicContent.productsupdoubleclickpro75k[6]._id = 6;
    devDynamicContent.productsupdoubleclickpro75k[6].id = "100047-A";
    devDynamicContent.productsupdoubleclickpro75k[6].custom_label_0 = "Yes";
    devDynamicContent.productsupdoubleclickpro75k[6].custom_label_1 = "leer";
    devDynamicContent.productsupdoubleclickpro75k[6].custom_label_2 = "true";
    devDynamicContent.productsupdoubleclickpro75k[6].description = "Die Expansion STEA1000400 - Festplatte der Firma Seagate bietet den Nu";
    devDynamicContent.productsupdoubleclickpro75k[6].image_link = {};
    devDynamicContent.productsupdoubleclickpro75k[6].image_link.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.400x400.jpg";
    devDynamicContent.productsupdoubleclickpro75k[6].link = {};
    devDynamicContent.productsupdoubleclickpro75k[6].link.Url = "https://siroop.ch/computer-elektronik/speicher-laufwerke/externe-festplatte/seagate-expansion-stea1000400-festplatte-1-tb-usb-30-69438";
    devDynamicContent.productsupdoubleclickpro75k[6].price = 51.35;
    devDynamicContent.productsupdoubleclickpro75k[6].sensitive_category_filter = "siroop trading AG";
    devDynamicContent.productsupdoubleclickpro75k[6].title = "Seagate Expansion STEA1000400 - Festplatte 1 TB USB 3.0";
    devDynamicContent.productsupdoubleclickpro75k[6].lowest_price = ["1"];
    devDynamicContent.productsupdoubleclickpro75k[6].image_link_200 = {};
    devDynamicContent.productsupdoubleclickpro75k[6].image_link_200.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.200x200.jpg";
    devDynamicContent.productsupdoubleclickpro75k[6].image_link_100 = {};
    devDynamicContent.productsupdoubleclickpro75k[6].image_link_100.Url = "https://cdn.siroop.ch/media/images/sized/56/f7/5e/56f75ee6e1d95db8c7dccc5f5e65c43a.100x100.jpg";
    Enabler.setDevDynamicContent(devDynamicContent);

</script>

<!--
 * You may access the variables in the following manner
 * AFTER the Studio Enabler is initialized.
 * var id = dynamicContent.productsupdoubleclickpro75k[0].id;
 * Note: be sure to use "dynamicContent", not "devDynamicContent"
 * Note: be sure to use ExitOverride to create your exit URL dynamically; follow the instructions on our Help center: https://support.google.com/richmedia/answer/2664807
-->