<!DOCTYPE html>
<html class="kvasir">
<!-- partial:partial/_head.html -->
<!-- partial -->
<!-- partial:partial/_static-css.html -->
<!-- partial -->
<body id="bg-exit" class="b-body">
<!-- partial:partial/_svg-sprite.html -->
<!-- partial -->
<div id="mustache">
    <div class="b-product-deal b-product-deal--970x250">
        <!-- partial:partial/_product-deal-wrapper.html -->
        <!-- partial -->
    </div>
</div>
<div class="target-output"></div>
<!-- partial:partial/_webfonts.html -->
<!-- partial -->
</body>
</html>