<!DOCTYPE html>
<html class="kvasir">
<!-- partial:partial/_head.html -->
<!-- partial -->
<body id="bg-exit" class="b-body">
<!-- partial:partial/_svg-sprite.html -->
<!-- partial -->
<div id="mustache">
    <div class="b-voucher-deal b-voucher-deal--800x250">
        <!-- partial:partial/_voucher-deal-wrapper--large.html -->
        <!-- partial -->
    </div>
</div>
<div class="target-output"></div>
<!-- partial:partial/_webfonts.html -->
<!-- partial -->
</body>
</html>