<!DOCTYPE html>
<html class="kvasir">
<!-- partial:partial/_head.html -->
<!-- partial -->
<body class="b-body">
<!-- partial:partial/_svg-sprite.html -->
<!-- partial -->
<!-- partial:partial/_dynamic-content-demo.html -->
<!-- partial -->
<!-- build:mustacheStart -->
<!-- endbuild -->
<div class="b-prospective b-prospective--320x160">
    <!-- partial:partial/_prospective-wrapper.html -->
    <!-- partial -->
</div>
<!-- build:mustacheEnd -->
<!-- endbuild -->
<!-- /script -->
<script>
    const SLIDER_ITEMS = 2;
    const SLIDER_AXIS = 'horizontal'
</script>
<!-- partial:partial/_mustache-render.html -->
<!-- partial -->
<!-- partial:partial/_tiny-slider.html -->
<!-- partial -->
<!-- partial:partial/_webfonts.html -->
<!-- partial -->
</body>
</html>

