<!DOCTYPE html>
<html class="kvasir">
<!-- partial:partial/_head.html -->
<!-- partial -->
<body id="bg-exit" class="b-body">
<!-- partial:partial/_svg-sprite.html -->
<!-- partial -->
<div id="mustache">
    <div class="b-merchant-deal b-merchant-deal--336x280">
        <!-- partial:partial/_merchant-deal-wrapper.html -->
        <!-- partial -->
    </div>
</div>
<div class="target-output"></div>
<!-- partial:partial/_webfonts.html -->
<!-- partial -->
</body>
</html>