<!--
 * Dynamic Content Enable code for Profile: 10033745
 *
 * The following code initializes the following dynamic variables for
 * development testing and live serving of Fields associated to the above profile
-->

<!-- DynamicContent Start: HTML5 invocation code. -->
<script type="text/javascript">

	// Dynamic Content variables and sample values
	Enabler.setProfileId(10033745);
	var devDynamicContent = {};

	devDynamicContent.Google_Merchant_Center= [{},{},{},{}];
	devDynamicContent.Google_Merchant_Center[0]._id = 0;
	devDynamicContent.Google_Merchant_Center[0].offer_title = "Tigi Bed Head Oh Bee Hive Shampoo f\u00FCr normales Haar 238ml Trockenshampoo";
	devDynamicContent.Google_Merchant_Center[0].offer_description = "Kosmetik TigiTigi Bed Head Oh Bee HiveTrockenshampooF\u00FCr mehr Volumen.Entfettet das Haar.St\u00E4rkt das Haar und verleiht ihm strahlenden Glanz.Anwendung: Das Trockenshampoo auf die Kopfhaut spr\u00FChen, ein paar Minuten einwirken lassen und dann mit dem Kamm oder mit den Fingern ins Haar einmassieren.";
	devDynamicContent.Google_Merchant_Center[0].offer_regular_price = {};
	devDynamicContent.Google_Merchant_Center[0].offer_regular_price.value = 11.25;
	devDynamicContent.Google_Merchant_Center[0].offer_regular_price.currency = "CHF";
	devDynamicContent.Google_Merchant_Center[0].offer_regular_price.priceString = "11.25 CHF";
	devDynamicContent.Google_Merchant_Center[0].offer_regular_price.formattedPrice = "";
	devDynamicContent.Google_Merchant_Center[0].offer_brand = "Bed Head by Tigi";
	devDynamicContent.Google_Merchant_Center[0].offer_landing_page_derived = {};
	devDynamicContent.Google_Merchant_Center[0].offer_landing_page_derived.Url = "https://siroop.ch/schoenheit-gesundheit/haarpflege/shampoo/tigi-bed-head-oh-bee-hive-shampoo-fuer-normales-haar-238ml-trockenshampoo-1010687";
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived = {};
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.image200 = {};
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.image200.url = "https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQtmKip4WEkF52eAVLcTq_XZAQ9PWHt7kjno9VKYU2jpS2tascmXTelir3brQ";
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.image200.w = 200;
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.image200.h = 200;
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.image400 = {};
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.image400.url = "https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQGD9FuSjmaSp3eLkyvQsx4G5JARNJ7vH_d3z22VL2THCgAh_s";
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.image400.w = 400;
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.image400.h = 400;
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.original = {};
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.original.url = "";
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.original.w = 0;
	devDynamicContent.Google_Merchant_Center[0].offer_image_derived.original.h = 0;
	devDynamicContent.Google_Merchant_Center[0].offer_sale_price = {};
	devDynamicContent.Google_Merchant_Center[0].offer_sale_price.value = 0.99;
	devDynamicContent.Google_Merchant_Center[0].offer_sale_price.currency = "USD";
	devDynamicContent.Google_Merchant_Center[0].offer_sale_price.priceString = "0.99 USD";
	devDynamicContent.Google_Merchant_Center[0].offer_sale_price.formattedPrice = "";
	devDynamicContent.Google_Merchant_Center[1]._id = 0;
	devDynamicContent.Google_Merchant_Center[1].offer_title = "Tigi Bed Head Oh Bee Hive Shampoo f\u00FCr normales Haar 238ml Trockenshampoo";
	devDynamicContent.Google_Merchant_Center[1].offer_description = "Kosmetik TigiTigi Bed Head Oh Bee HiveTrockenshampooF\u00FCr mehr Volumen.Entfettet das Haar.St\u00E4rkt das Haar und verleiht ihm strahlenden Glanz.Anwendung: Das Trockenshampoo auf die Kopfhaut spr\u00FChen, ein paar Minuten einwirken lassen und dann mit dem Kamm oder mit den Fingern ins Haar einmassieren.";
	devDynamicContent.Google_Merchant_Center[1].offer_regular_price = {};
	devDynamicContent.Google_Merchant_Center[1].offer_regular_price.value = 11.25;
	devDynamicContent.Google_Merchant_Center[1].offer_regular_price.currency = "CHF";
	devDynamicContent.Google_Merchant_Center[1].offer_regular_price.priceString = "11.25 CHF";
	devDynamicContent.Google_Merchant_Center[1].offer_regular_price.formattedPrice = "";
	devDynamicContent.Google_Merchant_Center[1].offer_brand = "Bed Head by Tigi";
	devDynamicContent.Google_Merchant_Center[1].offer_landing_page_derived = {};
	devDynamicContent.Google_Merchant_Center[1].offer_landing_page_derived.Url = "https://siroop.ch/schoenheit-gesundheit/haarpflege/shampoo/tigi-bed-head-oh-bee-hive-shampoo-fuer-normales-haar-238ml-trockenshampoo-1010687";
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived = {};
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.image200 = {};
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.image200.url = "https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQtmKip4WEkF52eAVLcTq_XZAQ9PWHt7kjno9VKYU2jpS2tascmXTelir3brQ";
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.image200.w = 200;
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.image200.h = 200;
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.image400 = {};
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.image400.url = "https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQGD9FuSjmaSp3eLkyvQsx4G5JARNJ7vH_d3z22VL2THCgAh_s";
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.image400.w = 400;
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.image400.h = 400;
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.original = {};
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.original.url = "";
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.original.w = 0;
	devDynamicContent.Google_Merchant_Center[1].offer_image_derived.original.h = 0;
	devDynamicContent.Google_Merchant_Center[1].offer_sale_price = {};
	devDynamicContent.Google_Merchant_Center[1].offer_sale_price.value = 0.99;
	devDynamicContent.Google_Merchant_Center[1].offer_sale_price.currency = "USD";
	devDynamicContent.Google_Merchant_Center[1].offer_sale_price.priceString = "0.99 USD";
	devDynamicContent.Google_Merchant_Center[1].offer_sale_price.formattedPrice = "";
	devDynamicContent.Google_Merchant_Center[2]._id = 0;
	devDynamicContent.Google_Merchant_Center[2].offer_title = "Tigi Bed Head Oh Bee Hive Shampoo f\u00FCr normales Haar 238ml Trockenshampoo";
	devDynamicContent.Google_Merchant_Center[2].offer_description = "Kosmetik TigiTigi Bed Head Oh Bee HiveTrockenshampooF\u00FCr mehr Volumen.Entfettet das Haar.St\u00E4rkt das Haar und verleiht ihm strahlenden Glanz.Anwendung: Das Trockenshampoo auf die Kopfhaut spr\u00FChen, ein paar Minuten einwirken lassen und dann mit dem Kamm oder mit den Fingern ins Haar einmassieren.";
	devDynamicContent.Google_Merchant_Center[2].offer_regular_price = {};
	devDynamicContent.Google_Merchant_Center[2].offer_regular_price.value = 11.25;
	devDynamicContent.Google_Merchant_Center[2].offer_regular_price.currency = "CHF";
	devDynamicContent.Google_Merchant_Center[2].offer_regular_price.priceString = "11.25 CHF";
	devDynamicContent.Google_Merchant_Center[2].offer_regular_price.formattedPrice = "";
	devDynamicContent.Google_Merchant_Center[2].offer_brand = "Bed Head by Tigi";
	devDynamicContent.Google_Merchant_Center[2].offer_landing_page_derived = {};
	devDynamicContent.Google_Merchant_Center[2].offer_landing_page_derived.Url = "https://siroop.ch/schoenheit-gesundheit/haarpflege/shampoo/tigi-bed-head-oh-bee-hive-shampoo-fuer-normales-haar-238ml-trockenshampoo-1010687";
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived = {};
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.image200 = {};
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.image200.url = "https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQtmKip4WEkF52eAVLcTq_XZAQ9PWHt7kjno9VKYU2jpS2tascmXTelir3brQ";
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.image200.w = 200;
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.image200.h = 200;
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.image400 = {};
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.image400.url = "https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQGD9FuSjmaSp3eLkyvQsx4G5JARNJ7vH_d3z22VL2THCgAh_s";
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.image400.w = 400;
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.image400.h = 400;
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.original = {};
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.original.url = "";
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.original.w = 0;
	devDynamicContent.Google_Merchant_Center[2].offer_image_derived.original.h = 0;
	devDynamicContent.Google_Merchant_Center[2].offer_sale_price = {};
	devDynamicContent.Google_Merchant_Center[2].offer_sale_price.value = 0.99;
	devDynamicContent.Google_Merchant_Center[2].offer_sale_price.currency = "USD";
	devDynamicContent.Google_Merchant_Center[2].offer_sale_price.priceString = "0.99 USD";
	devDynamicContent.Google_Merchant_Center[2].offer_sale_price.formattedPrice = "";
	devDynamicContent.Google_Merchant_Center[3]._id = 0;
	devDynamicContent.Google_Merchant_Center[3].offer_title = "Tigi Bed Head Oh Bee Hive Shampoo f\u00FCr normales Haar 238ml Trockenshampoo";
	devDynamicContent.Google_Merchant_Center[3].offer_description = "Kosmetik TigiTigi Bed Head Oh Bee HiveTrockenshampooF\u00FCr mehr Volumen.Entfettet das Haar.St\u00E4rkt das Haar und verleiht ihm strahlenden Glanz.Anwendung: Das Trockenshampoo auf die Kopfhaut spr\u00FChen, ein paar Minuten einwirken lassen und dann mit dem Kamm oder mit den Fingern ins Haar einmassieren.";
	devDynamicContent.Google_Merchant_Center[3].offer_regular_price = {};
	devDynamicContent.Google_Merchant_Center[3].offer_regular_price.value = 11.25;
	devDynamicContent.Google_Merchant_Center[3].offer_regular_price.currency = "CHF";
	devDynamicContent.Google_Merchant_Center[3].offer_regular_price.priceString = "11.25 CHF";
	devDynamicContent.Google_Merchant_Center[3].offer_regular_price.formattedPrice = "";
	devDynamicContent.Google_Merchant_Center[3].offer_brand = "Bed Head by Tigi";
	devDynamicContent.Google_Merchant_Center[3].offer_landing_page_derived = {};
	devDynamicContent.Google_Merchant_Center[3].offer_landing_page_derived.Url = "https://siroop.ch/schoenheit-gesundheit/haarpflege/shampoo/tigi-bed-head-oh-bee-hive-shampoo-fuer-normales-haar-238ml-trockenshampoo-1010687";
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived = {};
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.image200 = {};
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.image200.url = "https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQtmKip4WEkF52eAVLcTq_XZAQ9PWHt7kjno9VKYU2jpS2tascmXTelir3brQ";
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.image200.w = 200;
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.image200.h = 200;
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.image400 = {};
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.image400.url = "https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQGD9FuSjmaSp3eLkyvQsx4G5JARNJ7vH_d3z22VL2THCgAh_s";
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.image400.w = 400;
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.image400.h = 400;
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.original = {};
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.original.url = "";
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.original.w = 0;
	devDynamicContent.Google_Merchant_Center[3].offer_image_derived.original.h = 0;
	devDynamicContent.Google_Merchant_Center[3].offer_sale_price = {};
	devDynamicContent.Google_Merchant_Center[3].offer_sale_price.value = 0.99;
	devDynamicContent.Google_Merchant_Center[3].offer_sale_price.currency = "USD";
	devDynamicContent.Google_Merchant_Center[3].offer_sale_price.priceString = "0.99 USD";
	devDynamicContent.Google_Merchant_Center[3].offer_sale_price.formattedPrice = "";
	Enabler.setDevDynamicContent(devDynamicContent);

</script>

<!--
 * You may access the variables in the following manner
 * AFTER the Studio Enabler is initialized.
 * var offer_title = dynamicContent.Google_Merchant_Center[0].offer_title;
 * Note: be sure to use "dynamicContent", not "devDynamicContent"
 * Note: be sure to use ExitOverride to create your exit URL dynamically; follow the instructions on our Help center: https://support.google.com/richmedia/answer/2664807
-->